<li lang="android" class="category">DEVELOPMENT ON ANDROID</li>

<li lang="android" ><a href="{{ site.dlr_android }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="android" >
        <li lang="android" ><a href="{{ site.dlr_android }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>
        <li lang="android" ><a class="otherLinkColour">Explore Features</a>
            <ul lang="android" >
                <li lang="android" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.dlr_android }}explore-features/ui-configurations.html" class="otherLinkColour">Customize the UI</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li lang="android"><a href="{{ site.dlr_android }}samples/index.html" class="otherLinkColour">Demo &amp; Samples</a>
    <ul lang="android">
        <li lang="android" ><a class="otherLinkColour">HelloWorld</a>
            <ul lang="android" >
                <li lang="android" ><a href="{{ site.dlr_android }}samples/recognize-from-camera-enhancer.html" class="otherLinkColour">Read text lines from Video (CameraEnhancer)</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="android"><a href="{{ site.dlr_android_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a href="{{ site.dcv_android_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/constructors.html" class="otherLinkColour">Constructor and Destructor</a></li>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/single-file-processing.html" class="otherLinkColour">Single-File Processing</a></li>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/multiple-file-processing.html" class="otherLinkColour">Multiple-File Processing</a></li>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/settings.html" class="otherLinkColour">Settings</a></li>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/intermediate-result.html" class="otherLinkColour">Intermediate Result</a></li>
            </ul>
        </li>
        <li><a>Input</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                <li><a href="{{ site.dcv_android_api }}utility/file-fetcher.html" class="otherLinkColour">FileFetcher</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                <li><a href="{{ site.dce_android }}primary-api/camera-enhancer.html" class="otherLinkColour" target="_blank">CameraEnhancer</a></li>
            </ul>
        </li>
        <li><a>Final Results</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/original-image-result-item.html" class="otherLinkColour">OriginalImageResultItem</a></li>
                <li><a href="{{ site.dlr_android_api }}text-line-result-item.html" class="otherLinkColour">TextLineResultItem</a></li>
                <li><a href="{{ site.dlr_android_api }}recognized-text-lines-result.html" class="otherLinkColour">RecognizedTextLinesResult</a></li>
                <li><a href="{{ site.dlr_android_api }}character-result.html" class="otherLinkColour">CharacterResult</a></li>
            </ul>
        </li>
        <li ><a>Final Results Filters</a>
            <ul>                
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                <li><a href="{{ site.dcv_android_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
            </ul>
        </li>

        <li><a>Intermediate Results</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/observation-parameters.html" class="otherLinkColour">ObservationParameters</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">IntermediateResult</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">IntermediateResultUnit</a></li>
                <li><a href="{{ site.dlr_android_api }}recognized-text-lines-unit.html" class="otherLinkColour">RecognizedTextLinesUnit</a></li>
                <li><a href="{{ site.dlr_android_api }}localized-text-lines-unit.html" class="otherLinkColour">LocalizedTextLinesUnit</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">PredetectedRegionsUnit</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">RegionObjectElement</a></li>
                <li><a href="{{ site.dlr_android_api }}recognized-text-line-element.html" class="otherLinkColour">RecognizedTextLineElement</a></li>
                <li><a href="{{ site.dlr_android_api }}localized-text-line-element.html" class="otherLinkColour">LocalizedTextLineElement</a></li>
                <li><a href="{{ site.dcv_android_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">PredetectedRegionElement</a></li>
                <li><a>Others</a>
                    <ul>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">BinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">ColourImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">ContoursUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">EnhancedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">GrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">LineSegmentsUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">ScaledDownColourImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">TextRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">TextZonesUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">TextureDetectionResultUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">TextureRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">TextureRemovedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_android_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">TransformedGrayscaleImageUnit</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>Settings</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html" class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                <li><a href="{{ site.dlr_android_api }}simplified-label-recognizer-settings.html" class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
            </ul>
        </li>
        <li><a>State Listener</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CaptureStateListener</a></li>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">ImageSourceStateListener</a></li>
            </ul>
        </li>
        <li><a href="{{ site.dcv_android_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
        <li><a>Basic Structure</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/contour.html" class="otherLinkColour">Contour</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/corner.html" class="otherLinkColour">Corner</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/edge.html" class="otherLinkColour">Edge</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/line-segment.html" class="otherLinkColour">LineSegment</a></li>
                <!-- <li><a href="{{ site.dcv_android_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li> -->
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/rect.html" class="otherLinkColour">Rect</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.dcv_enumerations }}core/buffer-overflow-protection-mode.html?lang=android" class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/captured-result-item-type.html?lang=android" class="otherLinkColour">CapturedResultItemType</a></li>
                <li><a href="{{ site.dcv_enumerations }}capture-vision-router/capture-state.html?lang=android" class="otherLinkColour">CaptureState</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/colour-channel-usage-type.html?lang=android" class="otherLinkColour">ColourChannelUsageType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/corner-type.html?lang=android" class="otherLinkColour">CornerType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=android" class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/grayscale-enhancement-mode.html?lang=android" class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/grayscale-transformation-mode.html?lang=android" class="otherLinkColour">GrayscaleTransformationMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-capture-distance-mode.html?lang=android" class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-pixel-format.html?lang=android" class="otherLinkColour">ImagePixelFormat</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-source-state.html?lang=android" class="otherLinkColour">ImageSourceState</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-tag-type.html?lang=android" class="otherLinkColour">ImageTagType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/intermediate-result-unit-type.html?lang=android" class="otherLinkColour">IntermediateResultUnitType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/log-mode.html?lang=android" class="otherLinkColour">LogMode</a></li>
                <!-- <li><a href="{{ site.dcv_enumerations }}core/pdf-reading-mode.html?lang=android" class="otherLinkColour">PDFReadingMode</a></li> -->
                <li><a href="{{ site.dcv_enumerations }}capture-vision-router/preset-template.html?lang=android" class="otherLinkColour">PresetTemplate</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/raster-data-source.html?lang=android" class="otherLinkColour">RasterDataSource</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/region-object-element-type.html?lang=android" class="otherLinkColour">RegionObjectElementType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/section-type.html?lang=android" class="otherLinkColour">SectionType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/transform-matrix-type.html?lang=android" class="otherLinkColour">TransformMatrixType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/video-frame-quality.html?lang=android" class="otherLinkColour">VideoFrameQuality</a></li>
            </ul>
        </li>
        <li><a>Modules</a>
            <ul>
                <li><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionModule</a></li>
                <li><a href="{{ site.dcv_android_api }}core/basic-structures/core-module.html" class="otherLinkColour">CoreModule</a></li>
                <li><a href="{{ site.dcv_android_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
                <li><a href="{{ site.dlr_android_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li>
                <li><a href="{{ site.dcv_android_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="android" class="category">USEFUL RESOURCES</li>
<li lang="android"><a href="{{ site.dlr_android_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.dlr_android_release_notes }}android-3.html" class="otherLinkColour">Version 3.x</a></li>
        <li lang="android"><a href="{{ site.dlr_android_release_notes }}android-2.html" class="otherLinkColour">Version 2.x</a></li>
        <li lang="android"><a href="{{ site.dlr_android_release_notes }}android-1.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
<li lang="android"><a href="{{ site.dlr_android }}upgrade.html" class="otherLinkColour">Upgrade Instructions</a></li>

<li lang="android" class="category">OTHERS</li>
<li lang="android"><a target="_blank" href="{{ site.dlr_ios }}" class="otherLinkColour refreshLink">Develop for iOS (Objective-C & Swift)</a></li>
